<div class="content">
  <div class="row">
    <div
      *ngFor="let product of products; let i = index"
      appBorderColor
      class="card home-card"
      style="
        width: 15rem;
        margin-left: 2.2em;
        margin-bottom: 1em;
        padding-top: 1em;
      "
    >
      <img
        src="{{ images[i].path }}"
        class="rounded mx-100 d-block w-100"
        width="100"
        height="200"
        alt=""
      />
      <div class="card-body">

        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency: "TRY":"₺"}}</p>
        <a ></a>
        <button type="button" class="btn btn-outline-info"
        routerLink="product/policy-form/{{product.id}}"
        >Şimdi Satın Al</button>
      </div>
    </div>
  </div>
</div>
