<div class="container" style="height: 3rem;"></div>
<div class="card">
  <h5 class="card-header text-danger">Poliçe Fatura Bilgilerim</h5>
  <div class="card-body">
    <div class="row g-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Poliçe No</th>
            <th scope="col">Tc Kimlik No</th>
            <th scope="col">İsim</th>
            <th scope="col">Soyisim</th>
            <th scope="col">Poliçe Türü</th>
            <th scope="col">Poliçe Ücreti</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let policyForm of policyForms">
            <th scope="row">{{policyForm?.price}}</th>
            <td>{{policyForm.identityNumber}}</td>
            <td>{{policyForm.firstName}}</td>
            <td>{{policyForm.lastName}}</td>
            <td>{{policyForm.title}}</td>
            <td>{{policyForm.price  | currency: "TRY":"₺"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
