<nav
class="navbar navbar-expand-lg navbar-success bg-light"
>
  <div class="container-fluid" style="height: 6em;">

    <div class="card" style="width: 12rem; border: none; z-index: 1; opacity: 1;">
      <img src="../../../assets/Bupa-Acıbadem-Sigorta-Logosu.png" class="card-img-top" alt="Bupa-Acıbadem-Sigorta-Logosu" routerLink="">

    </div>


    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://www.bupaacibadem.com.tr/bupa-acibadem-sigortali-olmak">Bireysel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.bupaacibadem.com.tr/kurumsal-acibademsigortailecalismak">Kurumsal</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sağlık Sigortaları
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://www.bupaacibadem.com.tr/menu/bireysel/urunler/saglik-sigortalari/kisiye-ozel-saglik-sigortasi">Kişiye Özel Sağlık Sigortası</a></li>
            <li><a class="dropdown-item" href="https://www.bupaacibadem.com.tr/menu/bireysel/urunler/saglik-sigortalari/kisiye-ozel-tamamlayici-saglik-sigortasi">Tamamlayıcı Sağlık Sigortası</a></li>
            <li><a class="dropdown-item" href="https://www.bupaacibadem.com.tr/bireysel-diger">Seyehat Sigortası</a></li>
            <li><a class="dropdown-item" href="https://www.bupaacibadem.com.tr/menu/bireysel/urunler/saglik-sigortalari/hamilelere-ozel-dogum-sigortasi">Doğum Sigortası</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: red;" href="https://www.sencard.com.tr/">SenCardDünyası</a>
        </li>
      </ul>

      <div class="d-grid gap-1 d-md-flex justify-content-md-end">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="arama yap" aria-label="Search">
          <button class="btn btn-outline-info me-md-2" type="submit"  routerLink="">Bul</button>
        </form>
        <button class="btn btn-outline-primary me-md-2" type="button">Giriş</button>
        <button class="btn btn-outline-success" type="button" routerLink="/generalDirectorateScreen/list">Yönetim Ekranı</button>
      </div>
    </div>
  </div>
</nav>
